@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

#root {
    background: url('./assets/movie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: var(--secondary-color);
    min-height: 100vh;
    font-family: 'Comfortaa';
    --main-color: rgb(193, 124, 74);
    --secondary-color: rgb(43, 28, 18);
    --primary: var(--main-color);
    --primary-hover: rgb(150, 90, 50);
    --primary-focus: rgb(193, 124, 74);
    --secondary: var(--secondary-color);
    --secondary-hover: rgba(120, 80, 50, 0.846);
    --h1-color: white;
    --h2-color: white;
    --h3-color: white;
    --card-background-color: none;
    --form-element-background-color: white;
    --form-element-border-color: var(--main-color);
    --form-element-color: black;
    --form-element-placeholder-color: black;
    --form-element-active-border-color: var(--secondary-color);
    --form-element-active-background-color: white;
}

#root h1, #root h2, #root h3 {
    text-transform: uppercase;
    margin-bottom: 0px;
}

#root h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    text-shadow: 3px 3px 4px black;
}

#root h2 {
    font-size: 2em;
    font-weight: 800;
}

#root h3 {
    font-size: 1.3em;
    font-weight: 800;
}

#root main {
    width: 100%;
}

#root [role=button] {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5em;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root article {
    padding: 0px;
}

#root select {
    width: 400px;
}