.event-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 24px;
}

.event-information img {
    border-radius: 16px;
    width: 300px;
    object-fit: cover;
}

.event-details p {
    text-align: left;
    color: white;
}

.event-details p strong {
    font-weight: bold;
}

.event-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
}