.venue-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.venue-information h3 {
    font-weight: 500;
}

.venue-events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    padding: 32px 48px;
    width: 100%;
    box-sizing: border-box;
}